body
    background-color: #FFF
    
.welcome
    &__title
        display: flex
        align-items: center
        justify-content: center
        font-size: 30px
        gap: 10px
    &__description
        margin-top: 10px
        font-size: 22px
        color: grey
    
.shop
    &__title
        text-align: center
        font-size: 28px
    &__descirption
        margin-top: 10px
        font-size: 18px
        color: black
    